<div style="max-width: 600px; margin: 0 auto;">
  <h2 style="color: rgba(0,0,0,0.8);
            font-family: 'Open Sans', sans-serif;
            font-size; 22px;
            font-weight: normal;
            line-height: 24px;
            margin: 0;
            padding-top: 15px;
            padding-bottom: 5px;
            text-align: center;
            "><%= t '.welcome_to' %></h2>

  <hr style="max-width: 40px; border: 1px solid rgba(0,0,0, 0.2);"/>

  <p style="text-align: center; font-family: 'Open Sans', sans-serif; font-size: 18px;
            color: rgba(0,0,0,0.6); line-height: 1.4;">
  <%= t '.hi_thank_you_html', :user_username => (@user.username) %><br/>
    <%= t '.we_ve_got_some' %>
  </p>
</div>


<div style="text-align: center;"> 
  <h4 style="font-family: 'Open Sans', sans-serif; font-size: 18px;
            color: rgba(0,0,0,0.6); line-height: 1.4;"><%= t '.follow_other' %></h4>
  <h4 style="font-family: 'Open Sans', sans-serif; font-size: 18px;
            color: rgba(0,0,0,0.6); line-height: 1.4;"><%= t '.share_your' %></h4>
</div>


  <%= image_tag "rockies.jpg", alt: "canadian rockies", style: "display: block; max-width: 600px; margin: 0 auto;" %>
<p style="text-align: center; font-family: 'Open Sans', sans-serif; font-size: 18px;
            color: rgba(0,0,0,0.6); line-height: 1.4;">
  <%= t '.again_thanks_html' %>
</p>
